body{
    background-color: #464B4D;  
    font-family: 
    width: 300px;
    margin: auto;  
     margin-top: 10%;
}


html {
  font-family: 'Oswald', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    color: #DFEAED;
}

h1 {    
    font-size: 80px;
    color: #DFEAED
}

p {
    font-size: 2.0em;
    font-weight: bold;
    line-height: 2;
    text-align: center;    
}

form {
    width:300px;
    margin:0 auto;
}


a:link{
    
    color: white;
}


span {
	font-size: 2.0em;
}




 


